extends layout

block content
    h1 #{title}
    img.logo(src='/img/Medium.png')
    .row
        .col-md-10
            h2 Next Scheduled
            p
                | Post: #{posts[0].body}
            p
                | Time: #{posts[0].datePretty}
            p
                a.btn.btn-secondary(href=posts[0].url, role='button', target='_blank') View details »
        .col-md-2
            h2 Post Bank
            p
                | You have #{posts.length} post stored
            p
                a.btn.btn-secondary(href='/posts', role='button') View details »
block script
    script(src='/js/inactivity.js')